body{
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
}

#right-panel{
    margin: 10px;
    width: 100%
}

/* Safari에서 focus시 생기는 테두리 제거 */
*:focus {
    outline: none;
}

.todo-table-item:hover {
    cursor: pointer;
    color: salmon;
    transition: all 0.2s ease;
}

.todo-item{
    padding: 3px;
    background: white;
    border-bottom: 1px solid silver;
}

.todo-item:hover{
    cursor: pointer;
    color:teal;
    transition: all 0.2s ease;
}

#user-name{
    font-size: 1.5em; 
}

.display-user{
    font-size: 1.5em; 
    font-weight:bold;
}

#input-wrapper{
    margin-top: 15px;
    padding: 5px;
    position: relative;
}

#input-wrapper #todo-input{
    margin-bottom: 5px;
    width: 100%;
    font-size: large;
    border: none;
    border-bottom: 2px solid black;
    transition: all 0.3s ease;
}

#input-wrapper label{
    position: absolute;
    bottom: 15px;
    left: 10;
    color: silver;
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: x-large;
}

#input-wrapper #todo-input:valid,
#input-wrapper #todo-input:focus{
    border-bottom: 2px solid teal;
}

#input-wrapper #todo-input:valid ~ label,
#input-wrapper #todo-input:focus ~ label{
    transform: translateY(-20px);
    font-size: medium;
    color: teal
}

#left-panel{
    width: 150px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.left-btn{
    cursor: pointer;
    margin-right: 10px;
}

.delete-todo{
    border: none;
    cursor: pointer;
    color:red;
    font-size: 1.25em;
    background: transparent;
}
.delete-todo:hover{
    color:lightcoral;
    transition: all 0.2s ease;
}

#todo-table{
    margin-top: 10px;
    margin-bottom: 10px;
}

.todo-table-item{
    padding: 8px;
}

.todo-empty{
    color: silver
}

.todo-complete{
    color:silver
}

#change-user{
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    background-color: salmon;
    color: white;
}

#change-user:hover{
    background-color: lightsalmon;
    color: black;
    transition: all 0.2s ease;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 18px;
    border: 1px solid #888;
    border-radius: 3px;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 3px;
  }
  
  /* The Close Button */
  .close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover {
    color: lightcoral;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
  }

.login-btn {
    background-color: lightseagreen;
    color: black;
    padding: 10px 10px;
    margin: 5px 0 10px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    font-size: medium;
}

.login-create {
    background-color: lightsalmon;
    color: black;
    padding: 10px 10px;
    margin: 5px 0 10px 0;
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: 3px;
    font-size: medium;
}

.login-btn:hover{
    background-color: teal;
    color: white;
    transition: all 0.2s ease;
}

.login-create:hover {
    background-color: salmon;
    color: white;
    transition: all 0.2s ease;
}
